@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Plus Jakarta Sans";
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../fonts/PlusJakartaSans-Regular.woff");
  }
  
  @font-face {
    font-family: "Founders Grotesk Regular";
    src: url("../fonts/PlusJakartaSans-Regular.woff2");
  }